# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
error.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
tfplan

# Python
__pycache__/
*.py[cod]
*.pyc

# Lambda & Layer zip files
lambda_function.zip
pillow_layer.zip
*_layer.zip

# Project specific
Day-15/terraform/vpc-peering-demo-east.pem
Day-15/terraform/vpc-peering-demo-west.pem