apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-website

spec:
  replicas: 2
  
  selector:
    matchLabels:
      app: demo-website
  
  template:
    metadata:
      labels:
        app: demo-website
    
    spec:
      containers:
      - name: nginx
        image: "<ACCOUNT_ID>.dkr.ecr.<REGION>.amazonaws.com/demo-website:latest"
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
